In [414]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import category_encoders as ce
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder, LabelEncoder

In [415]:
data = pd.read_csv('/home/hasan/Downloads/gender-height-weight-index.csv')

In [416]:
data

     Country   Village  Gender  Height  Weight  Index
0      India  village5    Male     174      96      4
1   Pakistan  village1    Male     189      87      2
2      Nepal  village2  Female     185     110      4
3      China  village5  Female     195     104      3
4     Maldip  village2    Male     149      61      3
5     Vhutan  village4    Male     189     104      3
6   Srilanka  village4    Male     147      92      5
7    Myanmar  village3    Male     154     111      5
8     Taiwan  village1    Male     174      90      3
9     Turkey  village4  Female     133      70      2
10      Iran  village1   Male      155      50      4
11   Germany  village3  Female     156      67      2
12     Italy  village2    Male     160      85      1
13     Spain  village5    Male     173      86      4
14   Ireland  village5  Female     143      73      3

In [417]:
data.shape

(15, 6)

In [418]:
data.nunique()

Country    15
Village     5
Gender      3
Height     13
Weight     14
Index       5
dtype: int64

In [419]:
#LabelEncoder

In [420]:
le = LabelEncoder()

In [421]:
a = le.fit_transform(data['Village'])
a

array([4, 0, 1, 4, 1, 3, 3, 2, 0, 3, 0, 2, 1, 4, 4])

In [422]:
#get_dummies encoder

In [423]:
dummy = pd.get_dummies(data['Village'])

In [424]:
dummy

    village1  village2  village3  village4  village5
0          0         0         0         0         1
1          1         0         0         0         0
2          0         1         0         0         0
3          0         0         0         0         1
4          0         1         0         0         0
5          0         0         0         1         0
6          0         0         0         1         0
7          0         0         1         0         0
8          1         0         0         0         0
9          0         0         0         1         0
10         1         0         0         0         0
11         0         0         1         0         0
12         0         1         0         0         0
13         0         0         0         0         1
14         0         0         0         0         1

In [425]:
#OrdinalEncoding

In [426]:
ca_ordinal = ce.OrdinalEncoder()

In [427]:
ca_ordinal.fit_transform(data)

    Country  Village  Gender  Height  Weight  Index
0         1        1       1     174      96      4
1         2        2       1     189      87      2
2         3        3       2     185     110      4
3         4        1       2     195     104      3
4         5        3       1     149      61      3
5         6        4       1     189     104      3
6         7        4       1     147      92      5
7         8        5       1     154     111      5
8         9        2       1     174      90      3
9        10        4       2     133      70      2
10       11        2       3     155      50      4
11       12        5       2     156      67      2
12       13        3       1     160      85      1
13       14        1       1     173      86      4
14       15        1       2     143      73      3

In [428]:
ca_ohe = ce.OneHotEncoder()

In [429]:
ca_ohe.fit_transform(data)

,Country_1,Country_2,Country_3,Country_4,Country_5,Country_6,Country_7,Country_8,Country_9,Country_10,...,Village_2,Village_3,Village_4,Village_5,Gender_1,Gender_2,Gender_3,Height,Weight,Index
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,174,96,4
1,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,189,87,2
2,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,185,110,4
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,195,104,3
4,0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,1,0,0,149,61,3
5,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,1,0,0,189,104,3
6,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,1,0,0,147,92,5
7,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,1,0,0,154,111,5
8,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,1,0,0,174,90,3
9,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,1,0,133,70,2
10,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,155,50,4
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,156,67,2
12,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,160,85,1
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,173,86,4
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,143,73,3

In [430]:
#BinaryEncoder

In [431]:
binary_ce = ce.BinaryEncoder()

In [432]:
binary_ce.fit_transform(data)

,Country_0,Country_1,Country_2,Country_3,Country_4,Village_0,Village_1,Village_2,Village_3,Gender_0,Gender_1,Gender_2,Height,Weight,Index
0,0,0,0,0,1,0,0,0,1,0,0,1,174,96,4
1,0,0,0,1,0,0,0,1,0,0,0,1,189,87,2
2,0,0,0,1,1,0,0,1,1,0,1,0,185,110,4
3,0,0,1,0,0,0,0,0,1,0,1,0,195,104,3
4,0,0,1,0,1,0,0,1,1,0,0,1,149,61,3
5,0,0,1,1,0,0,1,0,0,0,0,1,189,104,3
6,0,0,1,1,1,0,1,0,0,0,0,1,147,92,5
7,0,1,0,0,0,0,1,0,1,0,0,1,154,111,5
8,0,1,0,0,1,0,0,1,0,0,0,1,174,90,3
9,0,1,0,1,0,0,1,0,0,0,1,0,133,70,2
10,0,1,0,1,1,0,0,1,0,0,1,1,155,50,4
11,0,1,1,0,0,0,1,0,1,0,1,0,156,67,2
12,0,1,1,0,1,0,0,1,1,0,0,1,160,85,1
13,0,1,1,1,0,0,0,0,1,0,0,1,173,86,4
14,0,1,1,1,1,0,0,0,1,0,1,0,143,73,3

In [433]:
#BaseNEncoder

In [434]:
basen_ce = ce.BaseNEncoder(base=1)

In [435]:
basen_ce.fit_transform(data)

,Country_0,Country_1,Country_2,Country_3,Country_4,Country_5,Country_6,Country_7,Country_8,Country_9,...,Village_3,Village_4,Village_5,Gender_0,Gender_1,Gender_2,Gender_3,Height,Weight,Index
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,174,96,4
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,189,87,2
2,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,1,0,185,110,4
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,195,104,3
4,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,149,61,3
5,0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,1,0,0,189,104,3
6,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,1,0,0,147,92,5
7,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,1,0,0,154,111,5
8,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,174,90,3
9,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,133,70,2
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,155,50,4
11,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,156,67,2
12,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,160,85,1
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,173,86,4
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,143,73,3

In [436]:
#HashingEncoder

In [437]:
ca_hashing = ce.HashingEncoder(n_components=12)

In [438]:
ca_hashing.fit_transform(data)

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,col_11,Height,Weight,Index
0,0,0,0,0,0,1,0,1,0,0,0,1,174,96,4
1,0,0,0,0,0,1,0,0,0,0,0,2,189,87,2
2,0,0,0,1,0,0,0,0,0,0,2,0,185,110,4
3,0,0,1,1,0,0,0,0,0,0,0,1,195,104,3
4,0,0,0,1,0,1,0,0,0,0,1,0,149,61,3
5,1,0,0,0,0,1,0,1,0,0,0,0,189,104,3
6,1,0,0,0,0,2,0,0,0,0,0,0,147,92,5
7,0,0,0,0,0,1,0,1,0,1,0,0,154,111,5
8,0,1,0,0,0,1,0,0,0,0,0,1,174,90,3
9,1,0,0,1,0,0,0,0,0,0,1,0,133,70,2
10,0,0,1,0,0,0,1,0,0,0,0,1,155,50,4
11,0,0,0,1,0,0,0,1,0,0,0,1,156,67,2
12,0,0,0,0,0,1,0,0,0,0,2,0,160,85,1
13,0,0,0,0,0,1,0,1,0,0,0,1,173,86,4
14,0,0,0,2,0,0,0,0,0,0,0,1,143,73,3

In [439]:
#PolynomialEncoder

In [440]:
polynomial_ce = ce.PolynomialEncoder()

In [441]:
polynomial_ce.fit_transform(data)

,intercept,Country_0,Country_1,Country_2,Country_3,Country_4,Country_5,Country_6,Country_7,Country_8,...,Country_13,Village_0,Village_1,Village_2,Village_3,Gender_0,Gender_1,Height,Weight,Index
0,1,-4.183300e-01,0.472270,-4.562564e-01,0.393641,-3.077236e-01,0.219002,-1.418585e-01,0.083314,-4.403943e-02,...,0.000158,-6.324555e-01,0.534522,-3.162278e-01,0.119523,-7.071068e-01,0.408248,174,96,4
1,1,-3.585686e-01,0.269869,-6.517949e-02,-0.168703,3.516842e-01,-0.438004,4.255756e-01,-0.345159,2.390712e-01,...,-0.002210,-3.162278e-01,-0.267261,6.324555e-01,-0.478091,-7.071068e-01,0.408248,189,87,2
2,1,-2.988072e-01,0.098606,1.754832e-01,-0.341733,3.009605e-01,-0.084231,-1.855073e-01,0.379950,-4.360388e-01,...,0.014367,-5.663831e-17,-0.534522,4.248250e-16,0.717137,-4.433780e-17,-0.816497,185,110,4
3,1,-2.390457e-01,-0.041518,2.908008e-01,-0.276847,1.352631e-02,0.269541,-3.382780e-01,0.143740,1.664787e-01,...,-0.057470,-6.324555e-01,0.534522,-3.162278e-01,0.119523,-4.433780e-17,-0.816497,195,104,3
4,1,-1.792843e-01,-0.150504,3.058422e-01,-0.097919,-2.308696e-01,0.301702,-3.273658e-02,-0.284733,3.189229e-01,...,0.158042,-5.663831e-17,-0.534522,4.248250e-16,0.717137,-7.071068e-01,0.408248,149,61,3
5,1,-1.195229e-01,-0.228350,2.456765e-01,0.098705,-3.074162e-01,0.076574,2.728048e-01,-0.251774,-1.209874e-01,...,-0.316084,3.162278e-01,-0.267261,-6.324555e-01,-0.478091,-7.071068e-01,0.408248,189,104,3
6,1,-5.976143e-02,-0.275059,1.353728e-01,0.244207,-2.075060e-01,-0.191435,2.728048e-01,0.114443,-3.266661e-01,...,0.474125,3.162278e-01,-0.267261,-6.324555e-01,-0.478091,-7.071068e-01,0.408248,147,92,5
7,1,1.372705e-17,-0.290628,-6.799245e-17,0.297296,-1.020265e-16,-0.306296,-5.794002e-16,0.320439,6.828855e-15,...,-0.541858,6.324555e-01,0.534522,3.162278e-01,0.119523,-7.071068e-01,0.408248,154,111,5
8,1,5.976143e-02,-0.275059,-1.353728e-01,0.244207,2.075060e-01,-0.191435,-2.728048e-01,0.114443,3.266661e-01,...,0.474125,-3.162278e-01,-0.267261,6.324555e-01,-0.478091,-7.071068e-01,0.408248,174,90,3
9,1,1.195229e-01,-0.228350,-2.456765e-01,0.098705,3.074162e-01,0.076574,-2.728048e-01,-0.251774,1.209874e-01,...,-0.316084,3.162278e-01,-0.267261,-6.324555e-01,-0.478091,-4.433780e-17,-0.816497,133,70,2
10,1,1.792843e-01,-0.150504,-3.058422e-01,-0.097919,2.308696e-01,0.301702,3.273658e-02,-0.284733,-3.189229e-01,...,0.158042,-3.162278e-01,-0.267261,6.324555e-01,-0.478091,7.071068e-01,0.408248,155,50,4
11,1,2.390457e-01,-0.041518,-2.908008e-01,-0.276847,-1.352631e-02,0.269541,3.382780e-01,0.143740,-1.664787e-01,...,-0.057470,6.324555e-01,0.534522,3.162278e-01,0.119523,-4.433780e-17,-0.816497,156,67,2
12,1,2.988072e-01,0.098606,-1.754832e-01,-0.341733,-3.009605e-01,-0.084231,1.855073e-01,0.379950,4.360388e-01,...,0.014367,-5.663831e-17,-0.534522,4.248250e-16,0.717137,-7.071068e-01,0.408248,160,85,1
13,1,3.585686e-01,0.269869,6.517949e-02,-0.168703,-3.516842e-01,-0.438004,-4.255756e-01,-0.345159,-2.390712e-01,...,-0.002210,-6.324555e-01,0.534522,-3.162278e-01,0.119523,-7.071068e-01,0.408248,173,86,4
14,1,4.183300e-01,0.472270,4.562564e-01,0.393641,3.077236e-01,0.219002,1.418585e-01,0.083314,4.403943e-02,...,0.000158,-6.324555e-01,0.534522,-3.162278e-01,0.119523,-4.433780e-17,-0.816497,143,73,3