# Type of validation

There are basically four type of cross validation:-
    
1) LeaveOneOut                                                                                                   
2) KFold                                                                                                           
3) StratifiedKFold                                                                                                    
4) TimeSeriesSplit

Details of every cross validation:-
    1) LeaveOneOut
        It takes 1 data for testing and n-1 data for training every times. This validation used very rare. 
               
        problem:-
            1) has a high variance
            10) Takes more time
    2) KFold
        Suppose our dataset have 1000 data. KFold has a parameter K. Suppose K=5 means it will 
        takes 5 experiment. Where in every experiment it will take 1000/5 data for testing and 
        reamaining(800) for training. Most of the developer use this validation.
        
        problem:-
            1)It takes data randomly. In imbalance dataset In binary classification sometimes it takes 
            only one class's data as test. 
    3) StratifiedKFold
        It is similar to KFold validation but takes strtically data for training and testing. It takes test 
        data from every class. For this it gives very good accuracy. And it also prevent the KFold problem 
        of taking only one classes data as a test data. 
        
    4) TimeSeriesSplit
        It is used for those dataset whare have time, date. For example, Stock Price Prediction. 
        Suppose we have first 5 days data, we need to predict 6th day's stock price. 
        Now we want to predict 7th days stock, now we will use 2 to 6th days data as input.        
        Similarly it will increase 1 date in right side and will decreae 1 date in left side.

In [152]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB

In [153]:
data = pd.read_csv('/home/hasan/Desktop/DATA_SET/gender-height-weight-index.csv')

In [154]:
data.head()

   Gender  Height  Weight  Outlook
0    Male     174      96        4
1    Male     189      87        2
2  Female     185     110        4
3  Female     195     104        3
4    Male     149      61        3

In [155]:
gender_dummy = pd.get_dummies(data['Gender'])
data = pd.concat([data, gender_dummy], axis=1)
data.drop('Gender', axis=1, inplace=True)
data.head()

   Height  Weight  Outlook  Female  Male
0     174      96        4       0     1
1     189      87        2       0     1
2     185     110        4       1     0
3     195     104        3       1     0
4     149      61        3       0     1

In [156]:
X = data.drop(['Outlook'], axis=1)
y = data['Outlook']

In [157]:
Xtrain, xtest, Ytrain,ytest = train_test_split(X,y, test_size=.3, random_state=100)

In [167]:
model = RandomForestClassifier(n_estimators=100)
model.fit(Xtrain,Ytrain)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [168]:
predict = model.predict(xtest)

In [169]:
model.score(xtest,ytest)

0.9484536082474226

# Score Using KFold

In [170]:
cvs = cross_val_score(model, X,y, cv=10)
cvs

array([0.94230769, 0.86538462, 0.90196078, 0.88      , 0.82      ,
       0.88      , 0.86      , 0.9       , 0.875     , 0.91489362])

In [171]:
cvs.mean()

0.883954670902731

# Score Using StatisticalKFold

In [172]:
acc = []
skf = StratifiedKFold(n_splits=5, random_state=None)
skf.get_n_splits(X,y)

for train_index,test_index in skf.split(X,y):
    X_train, xtest = X.iloc[train_index], X.iloc[test_index]
    Y_train, ytest = y.iloc[train_index], y.iloc[test_index]
    
    model.fit(X_train, Y_train)
    predicted = model.predict(xtest)
    score = accuracy_score(ytest, predicted)
    acc.append(score)

In [175]:
acc

[0.9019607843137255,
 0.8823529411764706,
 0.8217821782178217,
 0.8571428571428571,
 0.8865979381443299]

In [177]:
accuracy = np.array(acc)
accuracy.mean()

0.869967339799041